.main {
  background-color: antiquewhite;
  padding: 30px;
  margin: 50px auto;
  max-width: 50%;
  box-shadow: 0 0 10px;
  border-radius: 6px;
}

.main h1 {
  font-size: 30px;
  padding: 10px;
  text-align: center;
}
